$heightHeader: 7.2rem;
$heightNavigation: 4.8rem;

// Responsive
$xSmall: 423px;
$small: 576px;
$medium: 768px;
$xMedium: 824px;
$large: 992px;
$mdLarge: 1080px;
$exLarge: 1200px;
$cartSmall: 475px;
$courseContainer: 1147px;
